body{
    background-color: black;
}

::-webkit-scrollbar {
    
    background-color: white;
    border-radius: 7px;
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 7px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(18, 17, 17,0.95);
    width: 5px;
}

#main__app{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#main_chatapp{
    display: flex;
    height: 90%;
    flex-direction: column;
    width: 100%;
    margin: auto;
    flex: 0.9;
    background-color: rgba(18, 17, 17,0.95)
}
#messages{
    flex: 0.9;
    /* overflow-y: auto; */
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#sendmessage{
    flex: 0.1;
    text-align: center;
    /* padding: 10px; */
    
}

#input{
    display: flex;
    align-items: center;
    justify-content: center;
}

div#heading {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 27px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 700;
    flex: 0.1;
}
input#messagetext {
    width: 75%;
    outline: none;
    padding: 5px 12px 5px;
    border: 0px;
    font-size: 15px;
    border-bottom: 1px grey solid;
    margin-right: 14px;
    border-radius: 10px;
}

.sender_name{
    padding: 5px 15px 3px;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: right;
    color: white;
}

.sender_name span{
    color: grey;
    font-size: 10px;
    padding: 5px;
}

.sender_message {
    padding: 1px 15px 1px;
    font-size: 14px;
    font-family: sans-serif;
    word-break: break-word;
    white-space: initial;
    float: right;
    width: fit-content;
    max-width: 50%;
    background-color: white;
    margin: 3px 20px 3px;
    border-radius: 10px;
}

button#messagebtn {
    border-radius: 50%;
    color: white;
    background-color: rgb(66,133,244);
    padding-top: 2px;
    border: rgb(66,133,244) 1px solid;
    outline: none;
}

span.material-icons {
    float: right;
    padding: 8px;
    cursor: pointer;
    font-size: 22px;
}